@model Model.adminBruker

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

@{
    ViewBag.Title = "Registrering av ny admin-bruker";
}


<h2>Registrering av ny admin-bruker</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @if (ViewBag.RegistrertBruker == true)
        {
            <p class="alert alert-success">Ny bruker med brukernavn <b>@Session["nybruker"]</b> ble suksessfult registrert!</p>
        }
        else if (ViewBag.RegistrertBruker == false)
        {
            <p class="alert alert-danger">Registrering av ny bruker med brukernavn <b>@Session["nybruker"]</b> feilet, prøv igjen!</p>
        }

        @if (ViewBag.Brukernavntatt == true)
        {
            <p class="alert alert-danger">Det finnes allerede en bruker med brukernavn <b>@Session["nybruker"]</b>!</p>
        }

    </div>

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.brukernavn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.brukernavn, new { htmlAttributes = new { @class = "form-control", placeholder = "Brukernavn" } })
                @Html.ValidationMessageFor(model => model.brukernavn, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.passord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.passord, new { @class = "form-control", placeholder = "Passord" })
                @Html.ValidationMessageFor(model => model.passord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrer ny bruker" id="regbruker" class="btn btn-success" /> |
                <a href="listBrukere"><input type="button" value="Gå til listing av brukere" class="btn btn-info" /> </a>|
                <a href="Kontrollpanel"><input type="button" value="Tilbake til kontrollpanel" class="btn btn-primary" /></a>
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
