@model Model.Betaling

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

@{
    ViewBag.Title = "Betaling";
}

<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>

<form id="bestillingsSkjema" action="/Bestilling/regBestilling2" method="post">
  
        @Html.AntiForgeryToken()
    <h2>Betaling</h2>
        <div class="form-horizontal">
 
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.fornavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fornavn, new { htmlAttributes = new { @class = "form-control", placeholder="Fornavn" } })
                    @Html.ValidationMessageFor(model => model.fornavn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.etternavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.etternavn, new { htmlAttributes = new { @class = "form-control", placeholder="Etternavn"} })
                    @Html.ValidationMessageFor(model => model.etternavn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder="Email"} })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.kortnummer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.kortnummer, new { htmlAttributes = new { @class = "form-control", placeholder="Kortnummer"} })
                    @Html.ValidationMessageFor(model => model.kortnummer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.utløpsDato, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.utløpsDato, new { htmlAttributes = new { @class = "form-control", placeholder="Utløpsdato"} })
                    @Html.ValidationMessageFor(model => model.utløpsDato, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CVC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CVC, new { htmlAttributes = new { @class = "form-control", placeholder="CVC"} })
                    @Html.ValidationMessageFor(model => model.CVC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Betal" class="btn btn-success" />
                </div>
            </div>
        </div>

    </form>

