@model IEnumerable<Oblig1WebApp.Models.Avgang>

@{
    ViewBag.Title = "List avganger";
}

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.ico" type="image/ico" />

<h2>Alle registrerte avganger</h2>

<p>
    @Html.ActionLink("Registrer ny avgang", "regAvgang")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._forsteAvgang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._sisteAvgang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._forsteAvgang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._sisteAvgang)
            </td>
            <td>
                @Html.ActionLink("Endre avganger", "endreAvgang", new { id = item.id }) |
                @Html.ActionLink("Slett avganger", "slettAvgang", new { id = item.id })
            </td>
        </tr>
    }

</table>

<a href="/Bruker/Kontrollpanel"><input type="button" value="Tilbake til kontrollpanel" class="btn btn-primary" /></a>
