@model IEnumerable<Model.alleavgangstid>

@{
    ViewBag.Title = "Alle registrerte avgangstider";
}

<h2>Alle registrerte avgangstider</h2>

<div>
    @if (TempData["Slettet"] != null)
    {
        var value = ((TempData["Slettet"] != null).ToString().ToLower());
        if (value == "true")
        {
            <p class="alert alert-success">Avgangstider data ble suksessfult <b>slettet</b>!</p>
        }
    }

    @if (TempData["Endret"] != null)
    {
        var value = ((TempData["Endret"] != null).ToString().ToLower());
        if (value == "true")
        {
            <p class="alert alert-success">Avgangstider data ble suksessfult <b>endret</b>!</p>
        }
    }

    @if (TempData["Registrert"] != null)
    {
        var value = ((TempData["Registrert"] != null).ToString().ToLower());
        if (value == "true")
        {
            <p class="alert alert-success">Avgangstider data ble suksessfult <b>registrert</b>!</p>
        }
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.avgangstid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avgangstidRetur)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.avgangstid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avgangstidRetur)
            </td>
            <td>
                @Html.ActionLink("Endre", "endreAlleavgangstider", new { id = item.id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Slett", "slettalleavgangstid", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<a href="/Bestilling/registreralleavgangstid"><input type="button" value="Gå til registrering av ny avgangstid" class="btn btn-dark" /></a> |
<a href="/Bruker/Kontrollpanel"><input type="button" value="Tilbake til kontrollpanel" class="btn btn-primary" /></a>