@model Model.Hjelpeklasse

@{
    ViewBag.Title = "listBestillinger";
}

<h2>listBestillinger</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bestilling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._sisteAvgang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._forsteAvgang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._sisteAvgang)
            </td>
            <td>
                @Html.ActionLink("Endre avganger", "endreAvgang", new { id = item.id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Slett avganger", "slettAvgang", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
