@model Model.alleavgangstid

@{
    ViewBag.Title = "Registrering av nye avgangstider";
}

<h2>Registrer nye avgangstider</h2>

@using (Html.BeginForm()) 
{
   @Html.AntiForgeryToken()
   
   <div class="form-horizontal">
       <hr />
       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       <div class="form-group">
           @Html.LabelFor(model => model.avgangstid, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-10">
               @Html.EditorFor(model => model.avgangstid, new { htmlAttributes = new { @class = "form-control", placeholder="avgangstid"} })
               @Html.ValidationMessageFor(model => model.avgangstid, "", new { @class = "text-danger" })
           </div>
       </div>

       <div class="form-group">
           @Html.LabelFor(model => model.avgangstidRetur, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-10">
               @Html.EditorFor(model => model.avgangstidRetur, new { htmlAttributes = new { @class = "form-control",placeholder="avgangstid retur"} })
               @Html.ValidationMessageFor(model => model.avgangstidRetur, "", new { @class = "text-danger" })
           </div>
       </div>

       <div class="form-group">
           <div class="col-md-offset-2 col-md-10">
               <input type="submit" value="Registrer ny avgangstid" class="btn btn-success" /> |
               <a href="listAlleavgangstider"><input type="button" value="Gå til listing av avgangstider" class="btn btn-dark" /></a> |
               <a href="/Bruker/kontroller"></a><input type="button" value="Tilbake til kontrollpanel" class="btn btn-primary" />
           </div>
       </div>
   </div>
 }

