@model Oblig1WebApp.Models.visAvgang

@{
    ViewBag.Title = "Registrer ny avgang + detaljer";
}

<h2>Registrer ny avgang + detaljer</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.forsteAvgang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.forsteAvgang, new { htmlAttributes = new { @class = "form-control", placeholder="første avgang"} })
                @Html.ValidationMessageFor(model => model.forsteAvgang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sisteAvgang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sisteAvgang, new { htmlAttributes = new { @class = "form-control", placeholder="siste avgang"} })
                @Html.ValidationMessageFor(model => model.sisteAvgang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.reiseTid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.reiseTid, new { htmlAttributes = new { @class = "form-control", placeholder="reisetid"} })
                @Html.ValidationMessageFor(model => model.reiseTid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.spor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.spor, new { htmlAttributes = new { @class = "form-control", placeholder = "spor"} })
                @Html.ValidationMessageFor(model => model.spor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.togNummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.togNummer, new { htmlAttributes = new { @class = "form-control", placeholder="tognummer"} })
                @Html.ValidationMessageFor(model => model.togNummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sone, new { htmlAttributes = new { @class = "form-control", placeholder="sone"} })
                @Html.ValidationMessageFor(model => model.sone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pris, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pris, new { htmlAttributes = new { @class = "form-control", placeholder="pris"} })
                @Html.ValidationMessageFor(model => model.pris, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrer ny avgang + detaljer" class="btn btn-success" /> |
                <input type="submit" value="Gå til listing av avganger + detaljer" formaction="listVisAvganger" class="btn btn-dark" /> |
                <input type="submit" value="Tilbake til kontrollpanel" formaction="/Bruker/Kontrollpanel" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

