@using Oblig1WebApp.Models
@model IEnumerable<Model.Bestilling>

<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        // Ajax
        $(function () {
            // Kaller på hentAlleVisAvganger og bygger opp tabellRad når siden lastes
            $.ajax({
                url: '/Avgang/hentAlleVisAvganger',
                type: 'GET',
                dataType: 'json',
                success: function (jsVisAvgang) {
                    VisTabellRad(jsVisAvgang);
                    Pris(jsVisAvgang);
                }
            });

            // Oppretter en hendelse på tabellraden når siden lastes
            $("#tabellRad").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Avgang/hentVisAvgangInfo/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (visAvgang) {
                        VisInfoAvgang(visAvgang);
                    }
                });
            });
        })

        // Setter forsteAvgang inn i span
        function VisTabellRad(jsVisAvgang) {
            var utStrengForste = "";
            var utStrengSiste = "";
            var utStrengTid = "";
            var utStrengSpor = "";
            var utStrengTogNr = "";
            var utStrengSone = "";
            var utStrengPris = "";

            for (var i in jsVisAvgang) {
                utStrengForste += jsVisAvgang[i].forsteAvgang + "<br/>";
                utStrengSiste += jsVisAvgang[i].sisteAvgang + "<br/>";
                utStrengTid += jsVisAvgang[i].reiseTid + "<br/>";
                utStrengSpor += jsVisAvgang[i].spor + "<br/>";
                utStrengTogNr += jsVisAvgang[i].togNummer + "<br/>";
                utStrengSone += jsVisAvgang[i].sone + "<br/>";
                utStrengPris += jsVisAvgang[i].pris + "<br/>";
            }

            $("#forste").append(utStrengForste);
            $("#siste").append(utStrengSiste);
            $("#tid").append(utStrengTid);
            $("#spor").append(utStrengSpor);
            $("#nr").append(utStrengTogNr);
            $("#sone").append(utStrengSone);
            $("#pris").append(utStrengPris);
        }

        $(function () {
            // Kaller på hentAlleVisAvganger og bygger opp tabellRad når siden lastes
            $.ajax({
                url: '/Avgang/hentAlleVisAvganger',
                type: 'GET',
                dataType: 'json',
                success: function (jsVisAvgang) {
                    VisTabellRadRetur(jsVisAvgang);
                }
            });

            // Oppretter en hendelse på tabellraden når siden lastes
            $("#tabellRadRetur").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Avgang/hentVisAvgangInfo/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (visAvgang) {
                        VisInfoAvgang(visAvgang);
                    }
                });
            });
        })

        // Setter forsteAvgang inn i span
        function VisTabellRadRetur(jsVisAvgang) {
            var utStrengSiste = "";
            var utStrengForste = "";
            var utStrengTid = "";
            var utStrengSpor = "";
            var utStrengTogNr = "";
            var utStrengSone = "";
            var utStrengPris = "";

            for (var i in jsVisAvgang) {
                utStrengSiste += jsVisAvgang[i].sisteAvgang + "<br/>";
                utStrengForste += jsVisAvgang[i].forsteAvgang + "<br/>";
                utStrengTid += jsVisAvgang[i].reiseTid + "<br/>";
                utStrengSpor += jsVisAvgang[i].spor + "<br/>";
                utStrengTogNr += jsVisAvgang[i].togNummer + "<br/>";
                utStrengSone += jsVisAvgang[i].sone + "<br/>";
                utStrengPris += jsVisAvgang[i].pris + "<br/>";
            }

            $("#returforste").append(utStrengForste);
            $("#retursiste").append(utStrengSiste);
            $("#returtid").append(utStrengTid);
            $("#returspor").append(utStrengSpor);
            $("#returnr").append(utStrengTogNr);
            $("#retursone").append(utStrengSone);
            $("#returpris").append(utStrengPris);
        }
    </script>

    <script type="text/javascript">
        //Henting av avgangsdato
        $(function () {
            // Kaller på hentAlleVisAvganger og bygger opp tabellRad når siden lastes
            $.ajax({
                url: '/Avgang/hentAlleavgangstider',
                type: 'GET',
                dataType: 'json',
                success: function (jsAlleavgangstid) {
                    VisDropDown(jsAlleavgangstid);
                    VisDropDownRetur(jsAlleavgangstid);
                }
            });

            $("#drop").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Avgang/hentAlleavgangstid/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (alleavgangstid) {
                        VisDropDown(alleavgangstid);
                    }
                });
            });
        })

        function VisDropDown(jsAlleavgangstid) {
            var utStreng = "";
            for (var i in jsAlleavgangstid) {
                utStreng += "<option value='" + jsAlleavgangstid[i].id + "'>" + jsAlleavgangstid[i].avgangstid + "</option>";
            }
            $("#drop").append(utStreng);
        }

        $("#dropRetur").change(function () {
            var id = $(this).val();
            $.ajax({
                url: '/Avgang/hentAlleavgangstid/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (alleavgangstid) {
                    VisDropDownRetur(alleavgangstid);
                }
            });
        });

        function VisDropDownRetur(jsAlleavgangstid) {
            var utStreng = "";
            for (var i in jsAlleavgangstid) {
                utStreng += "<option value='" + jsAlleavgangstid[i].id + "'>" + jsAlleavgangstid[i].avgangstidRetur + "</option>";
            }
            $("#dropRetur").append(utStreng);
        }

        // For totalpris
        function Pris(jsVisAvgang) {
            var utPris = 0;
 
            for (var i in jsVisAvgang) {
                utPris += jsVisAvgang[i].pris;
            }
 
            var antallReisende = (parseInt(@Session["voksen"]) + parseInt(@Session["barn0_5"]) + parseInt(@Session["student"]) + parseInt(@Session["honnoer"]) + parseInt(@Session["vernepliktig"]) + parseInt(@Session["barn6_17"]));
            var totalPris = antallReisende * (parseInt(utPris));
            $(document).ready(function () {
                var sessionRetur = "@Session["returDato"]";
                if (sessionRetur != "") {
                    var i = 2;
                    totalPris *= i;
                    var utStrengTotal = "Totalpris for " + antallReisende + " reisende er " + totalPris + "kr.";
                    $("#totalPris").html(utStrengTotal);
                }
            });
           
            var utStrengTotal = "Totalpris for " + antallReisende + " reisende er " + totalPris + "kr.";
            $("#totalPris").html(utStrengTotal);
        }
    </script>


    <script>
        //Validering av valg avgangstid
        $(document).ready(function () {
            $("#regBestilling3").click(function (evt) {
                var dropAvgang = document.getElementById('drop').value;
                var dropAvgangRetur = document.getElementById('dropRetur').value;

                if (dropAvgang.length == 0) {
                    evt.preventDefault()
                    document.getElementById("avgangValidering").innerHTML = "*Vennligst velg en avgangstid*";
                    document.getElementById("avgangValidering").style.color = "red";

                    $("#drop").on('change', function () {
                        var ok = "";
                        $("#avgangValidering").html(ok);
                    });
                }

                var sessionRetur = "@Session["returDato"]";
                if (sessionRetur != "") {
                    if (dropAvgangRetur.length == 0) {
                        evt.preventDefault()
                        document.getElementById("avgangValideringRetur").innerHTML = "*Vennligst velg retur avgangstid*";
                        document.getElementById("avgangValideringRetur").style.color = "red";

                        $("#dropRetur").on('change', function () {
                            var ok = "";
                            $("#avgangValideringRetur").html(ok);
                        });
                    }
                }
            });
        });
    </script>

</head>
<body>
    @{
        var utreiseDato = Session["utreiseDato"] == null ? "" : Session["utreiseDato"].ToString();
        string fjern = "12:00:00 AM";
        string resultatUt = string.Empty;
        int i = utreiseDato.IndexOf(fjern);
        if (i >= 0)
        {
            resultatUt = utreiseDato.Remove(i, fjern.Length);
        }

        var returDato = "";
        string resultatRetur = string.Empty;
        if (Session["returDato"] != null)
        {
            returDato += Session["returDato"] == null ? "" : Session["returDato"].ToString();
            i = returDato.IndexOf(fjern);
            if (i >= 0)
            {
                resultatRetur = returDato.Remove(i, fjern.Length);
            }
        }
    }

    <h2>Når vil du reise fra  @Session["fraLokasjon"] til  @Session["tilLokasjon"]?</h2><br />
<form action="/Bestilling/regBestilling3" method="post">
    <table style="width: 100%">
        <tr>
            <td><b>Første Avgang</b></td>
            <td><b>Siste Avgang</b></td>
            <td><b>Reisetid</b></td>
            <td><b>Utreise dato</b></td>
            <td><b>Retur dato</b></td>
            <td><b>Spor</b></td>
            <td><b>Tognummer</b></td>
            <td><b>Sone</b></td>
            <td><b>Pris per billett</b></td>
            <td><b>Avreisetid</b></td>
        </tr>
        <tbody id="tabellRad">
            <tr>
                <td name="fraLokasjon" id="forste"></td>
                <td name="tilLokasjon" id="siste"></td>
                <td id="tid"></td>
                <td>@resultatUt</td>
                <td></td>
                <td id="spor"></td>
                <td id="nr"></td>
                <td id="sone"></td>
                <td id="pris"></td>
                <td>
                    <select name="avgangstid" id="drop" class="form-control">
                        <option value="" disabled selected>-- Velg avgangstid --</option>
                    </select>
                    <span id="avgangValidering"></span>
                </td>
            </tr>
        </tbody>

        <tbody id="tabellRadRetur">
            <tr>
                <td name="tilLokasjon" id="retursiste"></td>
                <td name="fraLokasjon" id="returforste"></td>
                <td id="returtid"></td>
                <td></td>
                <td id="returDato">@resultatRetur</td>
                <td id="returspor"></td>
                <td id="returnr"></td>
                <td id="retursone"></td>
                <td id="returpris"></td>
                <td id="dropDownR">
                    <select name="avgangstidRetur" id="dropRetur" class="form-control">
                        <option value="" disabled selected>-- Velg retur avgangstid --</option>
                    </select>
                    <span id="avgangValideringRetur"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <span id="totalPris"></span> <br />
    <input type="submit" value="Bekreft og gå videre til betaling" name="regBestilling3" id="regBestilling3" class="btn btn-success" />
</form>
</body>

<script>
    $(document).ready(function () {
        var sessionRetur = "@Session["returDato"]";
        if (sessionRetur != "") {
            $("#dropDownR").show();
            $("#tabellRadRetur").show();
        } else {
            $("#dropDownR").hide();
            $("#tabellRadRetur").hide();
        }
    });
</script>
