<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vy</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="shortcut icon" href="~/Content/Images/vylogo.ico" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <a href="http://localhost:57882/Bestilling/Bestilling" class="navbar-brand"><img src="~/Content/Images/vylogo-nav-justert.png"></a>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Bestilling", "Bestilling", "Bestilling", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @{
                        if (Session["LoggetInn"] != null)
                        {
                            bool loggetInn = (bool)Session["LoggetInn"];
                            if (loggetInn)
                            {
                                <li>@Html.ActionLink("Kontrollpanel", "Kontrollpanel", "Bruker", new { area = "" }, new { @class = "navbar-brand" })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Logg inn", "LoggInn", "Bruker", new { area = "" }, new { @class = "navbar-brand" })</li>
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("Logg inn", "LoggInn", "Bruker", new { area = "" }, new { @class = "navbar-brand" })</li>

                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vy</p>
        </footer>
    </div>
</body>
</html>