<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vy Bestilling</title>
    <!--
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/Images/vylogo.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.8.3.js"></script> -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="shortcut icon" href="~/Content/Images/vylogo.ico" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <a href="http://localhost:57882/Bestilling/Bestilling" class="navbar-left"><img src="~/Content/Images/vylogo-nav-justert.png"></a>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bestilling", "Bestilling", "Bestilling", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Registrer avgang", "regAvgang", "Bestilling", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("List alle avganger", "listAvganger", "Bestilling", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Alle bestillinger", "listBestillinger", "Bestilling", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Registrer visAvgang", "registrerVisAvgang", "Bestilling", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("List visAvgang", "listVisAvganger", "Bestilling", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Vis avganger", "visAvganger", "Bestilling", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vy Bestilling</p>
        </footer>
    </div>

    

    
</body>
</html>